.Login{
    position: fixed;
    background-color: #474547;
    background-image: linear-gradient(180deg, #696668 0%, #410f585b 67%);
    height: auto;
    width: 100%;
    height: 100%;
}

.IconeSite{
    margin: 0 auto;
    width: 100px;
    margin-bottom: 20%;
}


.Login-box{
    height: 100%;
    background: rgba(0, 0, 0, .5);
    padding : 90px;
    width: 700px;
    margin: 0 auto;
}

h4{
    margin: 0 0 30px;
    padding-top: 10px;
    color: #fff;
    text-align: center;
}



.textInput{
    color : rgb(255, 255, 255);
    position: absolute;
    margin-top: -12px;
    margin-left: 20px;
    font-family :Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    font-size : 16px;
    border-radius: 20px;
}



.BtnLogin:hover {
    display: inline-block;
    border: 2px ;
    border-color : white;
    background-color: rgb(7, 14, 0);
    border-radius:  50px;
    border: 2px double #1f3496;    
    color: #eeeeee;
    text-align: center;
    font-size: 15px;
    padding: 10px;
    width: 200px;
    margin: 5px;
}

.BtnRegister:hover {
    display: inline-block;
    border: 2px ;
    border-color : white;
    background-color: rgba(51, 255, 0, 0.966);
    border-radius:  50px;
    border: 2px double #1f3496;    
    color: #eeeeee;
    text-align: center;
    font-size: 15px;
    padding: 10px;
    width: 200px;
    margin: 5px;
}


.Login-box input{
    border-radius: 5px;
    margin-bottom: 60px;
    color :rgb(255, 255, 255);
    background-color: transparent;
    padding: 15px 0;
    border: 2px;
    box-shadow: 0 2px 5px rgb(155, 152, 165);
}

.Login-box input:focus{
    background-color: transparent;
    box-shadow: 0 0 5px #a4508b, 0 0 25px #a4508bda, 0 0 50px #a4508b9c, 0 0 100px #a4508b94;
}
.Login-box input:hover{
    background-color: transparent;
    box-shadow: 0 0 5px #9b9b9b, 0 0 25px #a4508bda;
}

.Login-box a h1{
    text-align: right;
    font-size: small;
    color :rgb(255, 255, 255);
}


.Login-box a h1:hover{
    text-align: right;
    font-size: small;
    color :rgb(58, 146, 168);
}




.Btn{
    text-align: center;
}

.BtnLogin{
    display: inline-block;
    background-color: #7b38d8;
    border-radius: 10px;
}

.BtnLogin {
    display: inline-block;
    border: 2px ;
    border-color : white;
    background-color: transparent;
    border-radius:  50px;
    border: 2px double #cccccc;    
    color: #eeeeee;
    text-align: center;
    font-size: 15px;
    padding: 10px;
    width: 200px;
    margin: 5px;
}
.BtnRegister{
    display: inline-block;
    border: 2px ;
    border-color : white;
    background-color: rgb(22, 65, 158);
    border-radius:  50px;
    border: 2px double #cccccc;    
    color: #acfff5;
    text-align: center;
    font-size: 15px;
    padding: 10px;
    width: 200px;
    margin: 5px;

}