.top-bar {
  height: 53px;
}


.container {
  position: fixed;
  width: 100%;
  display: block;
  height: 53px;
  border-bottom: 2px solid #eee;
  transition: all 0.5s ease;  
  z-index: 50;
}


.slide{
  background-color: black;
  transition: all 0.5s ease;
  height: 100px;
}

@media (min-width: 768px){

  .nav-links{
    text-decoration:none; 
    margin-right: 2vh;
  }
}

@media (min-width: 992px){


  .nav-links{
    text-decoration:none; 
    margin-right: 0.8vh;
  }
}

@media (min-width: 1200px){
  .nav-links{
    text-decoration:none; 
    margin-right: 1vh;
  }
}

.nav-container{
  display: grid;
  float: right!important;
  list-style: none;
  grid-auto-flow: column;
  text-align: center;
  height: 100%;
}

.nav-links{
  text-decoration:none; 
  letter-spacing: 1px;
  text-transform: uppercase;
  display: block;
  font-size: 13px;
  font-family: Andale Mono, monospace;
  color: antiquewhite;
  margin-left: 7px;
  margin-right: 7px;
  padding-top: 17px;
  width: 4rem;
}

.nav-li:hover{
  box-shadow: 12px 0 15px -4px rgba(31, 73, 125, 0.8), -12px 0 8px -4px rgba(31, 73, 125, 0.8);
  transition: all 0.5s ease;
}


.nav-menu li a:hover::after {
  transform: scaleX(1);
}


