

.SectionFiles{
    background-color: white;
    right: -100%;
    float: right;
    width: 30rem;
    position: fixed;
    height: 900px;
    transition: all 0.5s ease;
    border-radius: '30px';
    padding: '0rem 5rem';
    box-shadow: '0 20px 20px rgba(0, 0, 0, 0.2), 0px 0px 50px rgba(0, 0, 0, 0.2)'
}

.SectionFiles-active{
   right: 0;
   background-color: rgb(187, 187, 187);
    float: right;
    width: 30rem;
    position: fixed;
    height: 900px;
    transition: all 0.5s ease;
    border-radius: '30px';
    padding: '0rem 5rem';
    box-shadow: '0 20px 20px rgba(0, 0, 0, 0.2), 0px 0px 50px rgba(0, 0, 0, 0.2)'
}


.boxfile{
    grid-template-columns: repeat(1, 1fr);
    grid-gap: 0.2rem;
    margin: 0 auto;
    text-align: center;
    width: 5rem;
}

.BurgerFiles{
    position: fixed;
    right: 0px;
    top: 200px;

}

.boxfile:hover{
   background-color: beige;
}

.containerBoxFile{
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    grid-gap: 0.2rem;
}

.BtnRetour {
    background-color: rgba(255, 255, 255, 0);
    padding: 12px 26px;
    border-radius: 4px;
    outline: none;
    cursor: pointer;
    font-size: 18px;
    color: rgb(0, 0, 0);
    font-weight: 1000;
    border : 0 ;
}


.BtnRetour:hover {
    padding: 12px 26px;
    transition: all 0.3s ease-out;
    color: #6568F4;
    transition: all 0.3s ease-out;
}

.BtnRetour span {
    cursor: pointer;
    display: inline-block;
    position: relative;
    bottom: 10px;
    transition: 0.5s;
    font-size: 24px;
}

.BtnRetour span:after {
    content: '\00ab';
    position: absolute;
    opacity: 0;
    top: 0;
    right: -20px;
    transition: 0.5s;
}

    .BtnRetour:hover span {
    padding-right: 25px;
}




.reseau{
    position: fixed;
	width: 35px;
	height: 30px;
	margin: 30px 0 20px 20px;
	cursor: pointer;
}

.bar{
    position: fixed;
    border-radius: 15px;
	z-index: 3;
	right: 0px;
    flex-direction: column;
    width: 50px;
    color: black;
    height: 5px;
	background-color: #050505;
	transition: 0.3s ease;
}


