
.TextTitle{
    font-size: 30px;
    letter-spacing: 1px;
}

h1 {
    font-size: 5em;
    color: #fdfdfd;
  }
  
  h1 span span {
    position: relative;
    animation: move-text-color 0.75s forwards;
    bottom: -1em;
    opacity: 0;
  }
  
  @keyframes move-text-color {
    0% {
      bottom: -0.2em;
      opacity: 1;
      color: #020202;
    }
    
    50% {
      bottom: 0.2em;
      color: #7c7982;
    }
  
    100% {
      bottom: 0;
      opacity: 1;
      color: #ffffff;
    }
  }


  