.footer {
    background-color: rgb(32, 27, 27);
    border-top: 1px dashed black;
    width: 100%;
    background: #998B7D;
    position: fixed;
    bottom: 0;
    height: 9rem;
}


.block{
    background-color: rgb(32, 27, 27);
    width: 33.3333%;
    float : left;  
    height: 150px;
}
p{
    padding-top: 30px;
    color: white;
    font-weight: bold;
    text-align: justify;
    text-align: center;
}


.tdImage {
    width: 50px;
    height: 50px;
    background-color : transparent;
}

.TdContact {
    padding-top: 15px;
    font-weight: bold;
    height: 40px;
    color: rgb(167, 153, 111);
}

.IconeSite{
    margin: 0 auto;
    width: 150px;
}
@media screen and (max-width: 960px) {
    .footer {
        background-color: rgb(32, 27, 27);
        flex-shrink: 0;
        border-top: 1px dashed black;
        width: 100%;
    }
   
    
    .block{
        background-color: rgb(32, 27, 27);
        width: 33.33333%;
        float : left;
    }
    
    .tdImage {
        width: 50px;
        height: 50px;
    }
    .TdContact {
        font-weight: bold;
        height: auto;
        color: rgb(167, 153, 111);
    }
}