.register {
    position: relative!important;
    display: flex!important;
    height: 100%!important;
    width: 100%!important;
    overflow: hidden!important;
    margin : 0;
    padding : 0;
    z-index: 1!important;
    background-color: #474547;
    background-image: linear-gradient(180deg, #696668 0%, #410f585b 67%);
}

.register-box {
    background: rgba(0, 0, 0, .5);
    padding : 90px;
    width: 700px;
    margin: 0 auto;
    height: 100%;
}

.register-box h2 {
    margin: 0 0 30px;
    padding: 0;
    color: #fff;
    text-align: center;
}

.register-box .user-box {
    margin: 0 auto;
    color: rgb(219, 219, 219);
    width: 500px;
}

.register-box .user-box input {
    border-radius: 5px;
    padding: 15px 0;
    font-size: 25px;
    color: rgb(255, 255, 255);
    margin-bottom: 30px;
    border: 1px;
    border-bottom: 1px solid #fff;
    border-right: 1px solid;
    background:transparent;
    box-shadow: 0 2px 5px rgb(155, 152, 165);
}

.register-box .user-box input:focus {
    background-color: transparent;
    box-shadow: 0 0 5px #a4508b, 0 0 25px #a4508bda, 0 0 50px #a4508b9c, 0 0 100px #a4508b94;
}

.register-box input:hover{
    background-color: transparent;
    box-shadow: 0 0 5px #9b9b9b, 0 0 25px #a4508bda;
}

.register-box .user-box label {
    top: 0;
    left: 0;
    padding: 10px 0;
    font-size: 16px;
    color: rgb(255, 255, 255);
    pointer-events: none;
    transition: .5s;
}

.textError {
    color: red;
    font-size: 10px;
    top: 0px;
}

.littleText {
    color: rgb(160, 152, 152);
    font-size: 10px;
    top: 100px;
}
@keyframes btn-anim4 {
    0% {
        bottom: -100%;
    }
    50%,
    100% {
        bottom: 100%;
    }
}

#requis {
    color: #fff;
    font-size: small;
    text-align: right;
}

@media screen and (max-width: 960px) {
    .grindExt {
        width: 1000px;
    }
    .GrindInt {
        width: 1200px;
    }
    .register {
        position: relative;
        font-family: sans-serif;
        background-color: #474547;
        background-image: linear-gradient(180deg, #696668 0%, #410f585b 67%);
    }
    .register-box {
        display: inline-block;
        padding: 40px;
        width: 100%;
        background: rgba(0, 0, 0, .5);
        box-sizing: border-box;
        box-shadow: 0 15px 25px rgba(0, 0, 0, .6);
        border-radius: 10px;
        height: 1200px;
    }
    .register-box h2 {
        margin: 0 0 30px;
        padding: 0;
        color: #fff;
        text-align: center;
    }
    .register-box .user-box {
        margin: 0 auto;
        color: rgb(219, 219, 219);
        width: 70%;
    }
    .register-box .user-box input {
        width: 100%;
        padding: 15px 0;
        font-size: 25px;
        color: rgb(66, 11, 11);
        margin-bottom: 30px;
        border: 1px;
        border-bottom: 1px solid #fff;
        border-right: 1px solid;
        background: rgb(255, 255, 255);
        box-shadow: 0 2px 5px rgb(155, 152, 165);
    }
    .register-box .user-box label {
        top: 0;
        left: 0;
        padding: 10px 0;
        font-size: 16px;
        color: rgb(255, 255, 255);
        pointer-events: none;
        transition: .5s;
    }
    #requis {
        color: #fff;
        font-size: 6px;
        height: 100%;
        text-align: right;
        
    }
}